#login-form {
    width: 30%;
}

#login-form input {
    border: none;
    height: 3em;
    margin-bottom: 1em;
    padding-left: 1em;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-size: 1.2rem;
    color: #707070;
    border-radius: 30px;
}

#login-form input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #383838;
}

#login-form input::-moz-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #383838;
}

#login-form input::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #383838;
}

#login-form button {
    background-color: black;
    border: none;
    font-size: 1.2rem;
    height: 3em;
    border-radius: 30px;
    width: 30%;
}