/* .unit {
    width: 11.1111%;
    height: 200px;
    background-color: red;
}

.unit img {
    width: 100%;
    height: 200px;
} */

@media screen and (min-width: 900px) {
    .unit {
        width: 11.1111%;
        height: 200px;
        background-color: #646cff;
    }

    .unit img {
        width: 100%;
        height: 200px;
    }

    .unit p {
        margin:3px;
    }
}