#root {
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 900px) {
  #root {
    margin: 0;
  }

  #main {
    width: 100%;
  }
}